.products .product-item {
  text-align: center;
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  flex: 2;
}

.products .product-item .product-image .img1 {
  width: 270px;
  margin-top: 30px;
}

.products .product-item img {
  width: 250px;
  transition: 0.3s ease-in-out all;
}

.products .product-item .img1:hover {
  visibility: hidden;

  opacity: 0;
}
.product-info {
  margin-left: 60px;
}
.products .product-item .product-image:hover .img2 {
  visibility: visible;
  margin-top: 30px;
  width: 270px;
  opacity: 1;
}

.products .product-item .img2 {
  display: flex;
  position: absolute;
  top: -1px;
  width: 320px;
  margin-left: 120px;
  opacity: 0;
  left: 1px;
  visibility: hidden;
}

.products .product-item .product-title {
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  margin-top: 15px;
  margin-right: 80px;
}

.products .product-item .product-star {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  column-gap: 2px;
  margin-right: 80px;
  margin-bottom: 20px;
}
.products .product-item .product-star li {
  margin-right: 5px;
}

.products .product-item .product-star i {
  font-size: 12px;
  color: gold;
  column-gap: 2px;
}

.product-item .product-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.product-item .product-prices strong {
  color: #ff3c20;
  font-weight: 500;
}

.product-item .product-prices span {
  color: #7d7d7d;
  font-size: 12px;
  text-decoration: line-through;
}

.product-item .product-discount {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ff3c20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 100%;
  font-weight: 500;
}

.product-item .product-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out all;
  overflow: hidden;
}
.single-tabs .content {
  display: none;
}

.single-tabs .content.active {
  display: block;
}
.products .product-item:hover .product-links {
  transform: translate(15px);
  opacity: 1;
  visibility: visible;
}

.product-item .product-links button,
.product-item .product-links a {
  background-color: #000;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  transition: all ease 0.3s;
}

.product-item .product-links button:hover,
.product-item .product-links a:hover {
  opacity: 0.7;
}

.product-item .product-links i {
  color: #fff;
  font-size: 14px;
  display: flex;
  pointer-events: none;
}

.product-wrapper {
  position: relative;
  margin-left: -160px;
}

.product-wrapper .glide__arrow {
  position: absolute;
  background-color: transparent;
}

.product-wrapper .glide__arrow--left {
  left: -40px;
  bottom: 300px;
}

.product-wrapper .glide__arrow--right {
  right: -40px;
  bottom: 300px;
}

.product-wrapper .glide__arrow i {
  font-size: 40px;
}
.product-info .glide-text {
  margin-right: 20px;
}

@media (max-width: 576px) {
  .product-wrapper .glide__arrow--left {
    left: 0px;
  }

  .product-wrapper .glide__arrow--right {
    right: 0px;
  }
}
